[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
behave = "*"
pytest = "*"
pytest-hammertime = "*"
flake8-import-order = "*"
flake8-per-file-ignores = "*"
responses = "*"
faaspact-maker = "*"
flask = "*"
flask-graphql = "*"

[packages]
requests = "*"
graphene = "*"
graphql-server-core = "*"
sentry-sdk = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.7"

[scripts]
check = "sh -c 'mypy front/ && flake8 && pytest -q && behave --format progress'"
playground = "sh -c 'FLASK_APP=front/delivery/flask/playground.py FLASK_DEBUG=1 flask run --eager-loading'"
